if, elif and else statements

In [1]:
if True:
    print('ITS TRUE!')

ITS TRUE!

In [2]:
if 3>2:
    print('ITS TRUE!')

ITS TRUE!

In [3]:
hungry = True

if hungry:
    print('FEED ME!')

FEED ME!

In [5]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print("Im not hungry")

Im not hungry

In [6]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print("Im not hungry")

FEED ME!

In [7]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("cars are cool!")
else:
    print("I do not know much.")

I do not know much.

In [8]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
else:
    print("I do not know much.")

Money is cool!

In [9]:
name = 'Sammy'

if name == 'Frankie':
    print("Hello Frankie")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

Hello Sammy

In [10]:
name = 'Frankie'

if name == 'Frankie':
    print("Hello Frankie")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

Hello Frankie

In [11]:
name = 'Jose'

if name == 'Frankie':
    print("Hello Frankie")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

What is your name?

for loops

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [4]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [5]:
for num in mylist:
    #Check for even
    if num%2 == 0:
        print(num)

2
4
6
8
10

In [6]:
for num in mylist:
    if num%2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [7]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [8]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [9]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [10]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [13]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [14]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [15]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [16]:
len(mylist)

4

In [17]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [18]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [19]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [20]:
for a,b in mylist:
    print(a)

1
3
5
7

In [21]:
mylist = [(1,2,3), (5,6,7), (8,9,10)]

In [22]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [23]:
for a,b,c in mylist:
    print(b)

2
6
9

In [24]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [26]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [28]:
for key,value in d.items():
    print(value)

1
2
3

In [30]:
for value in d.values():
    print(value)

1
2
3

while loop

In [1]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [2]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

break, continue and pass

In [4]:
x = [1,2,3]

for item in x:
    # comment

print('end of my script')

IndentationError: expected an indented block (<ipython-input-4-9dbb7a4d1dce>, line 6)

In [5]:
x = [1,2,3]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [6]:
mystring = 'Sammy'

In [7]:
for letter in mystring:
    print(letter)

S
a
m
m
y

In [8]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [9]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [10]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [13]:
x = 0

while x < 5:
    
    if x == 2:
        break
        
    print(x)
    x += 1

0
1

Useful Operaters

In [14]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [15]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [17]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [18]:
range(0,11,2)

range(0, 11, 2)

In [19]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [20]:
index_count = 0

for letter in 'abced':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is e
At index 4 the letter is d

In [21]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [22]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [23]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [27]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,200]

In [28]:
zip(mylist1,mylist2)

In [29]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 200)

In [30]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,200]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 200)

In [31]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [32]:
'x' in [1,2,3]

False

In [33]:
'x' in ['x','y','z']

True

In [34]:
'a' in 'a world '

True

In [35]:
'mykey' in {'mykey':345}

True

In [36]:
d = {'mykey':345}
345 in d.values()

True

In [37]:
d = {'mykey':345}
345 in d.keys()

False

In [38]:
mylist = [10,20,20,30,100]

In [39]:
min(mylist)

10

In [40]:
max(mylist)

100

In [41]:
from random import shuffle

In [42]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [43]:
shuffle(mylist)

In [44]:
mylist

[8, 6, 10, 7, 3, 5, 2, 4, 9, 1]

In [45]:
random_list = shuffle(mylist)

In [47]:
type(random_list)

NoneType

In [48]:
from random import randint

In [49]:
randint(0,100)

64

In [51]:
randint(0,100)

91

In [52]:
mynum = randint(0,10)

In [53]:
mynum

9

In [54]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [55]:
result = input('What is your name? ')

What is your name? Jose

In [56]:
result

'Jose'

In [58]:
result = input('Favourite Number:')

Favourite Number:30

In [59]:
result

'30'

In [60]:
type(result)

str

In [61]:
float(result)

30.0

In [62]:
int(result)

30

In [63]:
result = int(input('Favourite Number:'))

Favourite Number:20

In [64]:
type(result)

int

List Compression

In [1]:
mystring = 'hello'

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist = [letter for letter in mystring]

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
mylist = [x for x in 'word']

In [8]:
mylist

['w', 'o', 'r', 'd']

In [9]:
mylist = [num for num in range(0,11)]

In [10]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
mylist = [num**2 for num in range(0,11)]

In [12]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
mylist = [x for x in range (0,11) if x%2==0]

In [14]:
mylist

[0, 2, 4, 6, 8, 10]

In [15]:
mylist = [x**2 for x in range (0,11) if x%2==0]

In [16]:
mylist

[0, 4, 16, 36, 64, 100]

In [19]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [20]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [23]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append( (9/5)*temp + 32)

In [24]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

if and esle statement inside of a list comprehension - not recommended

In [27]:
result = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [28]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

nested loop in list comprehension - not recommended

In [29]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [30]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [31]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [32]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]