Numbers

In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
3/2

1.5

Modulo or "Mod" Operator

In [5]:
7 % 4

3

In [6]:
50 % 5

0

In [7]:
20 %2

0

In [8]:
2 ** 3

8

In [9]:
2 + 10 * 10 + 3

105

In [10]:
(2 + 10) * (10 + 3)

156

Variable Assignment

In [11]:
a = 5

In [12]:
a

5

In [13]:
a = 10

In [14]:
a

10

In [15]:
a + a

20

In [16]:
a = a + a

In [17]:
a

20

In [18]:
a = a + a

In [19]:
a

40

In [20]:
type(a)

int

In [21]:
a = 30.1

In [22]:
type(a)

float

In [25]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [27]:
my_taxes

10.0

Strings

In [1]:
"hello"

'hello'

In [2]:
print("hello")

hello

In [3]:
"hello world one"
"hello world two"

'hello world two'

In [4]:
print("hello world one")
print("hello world two")

hello world one
hello world two

Escape sequenes

In [5]:
print('hello \n world')

hello
 world

In [6]:
print('hello \tworld')

hello 	world

In [7]:
len('hello')

5

In [18]:
len('I am')

4

Indexing

In [12]:
mystring = "Hello World"

In [13]:
mystring

'Hello World'

In [14]:
mystring[0]

'H'

In [15]:
mystring[-2]

'l'

Slicing

In [16]:
mystring = 'abcdefghijk'

In [17]:
mystring

'abcdefghijk'

In [20]:
mystring[2:]

'cdefghijk'

In [21]:
mystring[:3] #all the way but not including index 3

'abc'

In [22]:
mystring[3:6]

'def'

Slicing (step size)

In [23]:
mystring[::]

'abcdefghijk'

In [24]:
mystring[::2]

'acegik'

In [25]:
mystring[2:7:2]

'ceg'

In [26]:
mystring[::-1]

'kjihgfedcba'

17 String Properties and Methods

In [1]:
name = "Sam"

In [2]:
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [3]:
last_letters = name[1:]

In [4]:
last_letters

'am'

In [5]:
'P' + last_letters

'Pam'

In [6]:
x = 'Hello World'

In [8]:
x+ "it is beautiful outside!" #no space

'Hello Worldit is beautiful outside!'

In [9]:
x + "it is beautiful outside!"

'Hello Worldit is beautiful outside!'

In [10]:
#0r add the space in the string
x+ " it is beautiful outside!"

'Hello World it is beautiful outside!'

In [11]:
x = x+ " it is beautiful outside!"

In [12]:
x

'Hello World it is beautiful outside!'

In [13]:
letter = 'z'

In [14]:
letter * 10

'zzzzzzzzzz'

In [15]:
2 + 3

5

In [16]:
'2' + '3'

'23'

In [17]:
x = 'Hello World'

In [18]:
x.upper()

'HELLO WORLD'

In [19]:
x

'Hello World'

In [21]:
x.upper #without the brackets

In [23]:
x.lower()

'hello world'

In [24]:
#split method creates a list out of a string
x.split()

['Hello', 'World']

In [25]:
x = 'Hi this is a string'

In [26]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [28]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

19 Print formatting with strings

.format()

In [29]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [30]:
print('The {} {} {}'.format('fox', 'brown', 'quick'))

The fox brown quick

In [31]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [32]:
print('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox fox fox

In [34]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [38]:
print('The {f} {f} {f}'.format(f='fox', b='brown', q='quick'))

The fox fox fox

In [40]:
result = 100/777

In [42]:
result

0.1287001287001287

In [43]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [44]:
print("The result was {r}".format(r = result))

The result was 0.1287001287001287

In [46]:
#"{value:width.precision f}"
print("The result was {r:1.3f}".format(r = result))

The result was 0.129

In [47]:
print("The result was {r:10.3f}".format(r = result))

The result was      0.129

In [48]:
result = 104.12345

In [50]:
print("The result was {r:1.3f}".format(r = result))

The result was 104.123

f-strings literals

In [51]:
name = "Jose"

In [52]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [53]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [54]:
name = "Sam"
age = 3

In [56]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

21 Lists in Python

In [57]:
my_list = [1,2,3]

In [58]:
my_list = ['STRING', 100, 23.2]

In [59]:
len(my_list)

3

In [60]:
mylist = ['one', 'two', 'three']

In [61]:
mylist[0]

'one'

In [62]:
mylist[1:]

['two', 'three']

In [65]:
another_list = ['four', 'five']

In [66]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [67]:
mylist

['one', 'two', 'three']

In [68]:
another_list

['four', 'five']

In [69]:
new_list = mylist + another_list

In [70]:
new_list

['one', 'two', 'three', 'four', 'five']

In [72]:
new_list[0] = 'ONE ALL CAPS'

In [73]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [74]:
new_list.append('six')

In [75]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [76]:
new_list.pop()

'six'

In [77]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [78]:
popped_item = new_list.pop()

In [79]:
popped_item

'five'

In [80]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four']

In [81]:
new_list.pop(0)

'ONE ALL CAPS'

In [82]:
new_list

['two', 'three', 'four']

In [83]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4, 1, 8, 3]

In [84]:
new_list.sort()

In [85]:
new_list

['a', 'b', 'c', 'e', 'x']

In [86]:
my_sorted_list = new_list.sort()

In [87]:
type(my_sorted_list)

NoneType

In [88]:
#Instead
new_list.sort()
my_sorted_list = new_list

In [89]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [90]:
num_list

[4, 1, 8, 3]

In [91]:
num_list.sort()

In [92]:
num_list

[1, 3, 4, 8]

In [93]:
num_list.reverse()

In [94]:
num_list

[8, 4, 3, 1]

23 Dictionaries in Python

In [1]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

In [2]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
my_dict['key1']

'value1'

In [4]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk': 5.80}

In [5]:
prices_lookup['apple']

2.99

In [6]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'insideKey':100}}

In [7]:
d['k2']

[0, 1, 2]

In [8]:
d['k3']

{'insideKey': 100}

In [9]:
d['k3']['insideKey']

100

In [10]:
d['k2']

[0, 1, 2]

In [11]:
d['k2'][2]

2

In [12]:
d = {'key1':['a', 'b', 'c']}

In [13]:
d

{'key1': ['a', 'b', 'c']}

In [14]:
mylist = d['key1']

In [15]:
mylist

['a', 'b', 'c']

In [16]:
letter = mylist[2]

In [17]:
letter

'c'

In [19]:
letter.upper()

'C'

In [21]:
#Or do it all in one go
d['key1'][2].upper()

'C'

In [22]:
d = {'k1':100, 'k2':200}

In [23]:
d

{'k1': 100, 'k2': 200}

In [24]:
d['k3'] = 300

In [25]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [26]:
d['k1'] = 'NEW VALUE'

In [27]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [28]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [29]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [30]:
d.values()

dict_values([100, 200, 300])

In [31]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

Tuples

In [32]:
t = (1,2,3)

In [33]:
mylist = [1,2,3]

In [34]:
type(t)

tuple

In [35]:
type(mylist)

list

In [36]:
len(t)

3

In [37]:
t

(1, 2, 3)

In [38]:
t = ('one', 2)

In [39]:
t

('one', 2)

In [40]:
t[0]

'one'

In [41]:
t[-1]

2

In [42]:
t = ('a','a','b')

In [43]:
t.count('a')

2

In [44]:
t.index('a')

0

In [45]:
t.index('b')

2

In [46]:
t

('a', 'a', 'b')

In [47]:
mylist

[1, 2, 3]

In [48]:
mylist[0] = 'NEW'

In [49]:
mylist

['NEW', 2, 3]

In [50]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

Sets

In [51]:
myset = set()

In [52]:
myset

set()

In [53]:
myset.add(1)

In [54]:
myset.add(2)

In [55]:
myset

{1, 2}

In [56]:
myset.add(2)

In [57]:
myset

{1, 2}

In [58]:
mylist = [1,1,1,1,2,2,2,2,2,3,3,3,3]

In [59]:
set(mylist)

{1, 2, 3}

Booleans

In [60]:
True

True

In [61]:
False

False

In [62]:
true

NameError: name 'true' is not defined

In [63]:
false

NameError: name 'false' is not defined

In [64]:
type(False)

bool

In [65]:
1 > 2

False

In [66]:
1 == 1

True

In [67]:
b =

SyntaxError: invalid syntax (<ipython-input-67-51da195f42cb>, line 1)

In [68]:
b = None

In [69]:
b

Input/Output files

In [1]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [2]:
myfile = open('myfile.txt')

In [3]:
myfile = open('Woops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'Woops_wrong.txt'